<?xml version="1.0"?>
<connectionStrings>
  <add name="NecroDancerContext" connectionString="Data Source=localhost;Initial Catalog=NecroDancer;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="LeaderboardsContext" connectionString="Data Source=localhost;Initial Catalog=NecroDancer;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>